<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>
    
    <h1>Welcome to Quoting Dojo</h1>
    <form action="/quotes" method="post">
        @* name input *@
        <label for="Name">Your Name:</label>
        <input type="text" name="Name" id="">
        <br>
        <br>
        @* quote input *@
        <label for="UserQuote">Your Quote:</label>
        <textarea name="UserQuote" id="" cols="30" rows="10"></textarea>
        <br>
        <button type="submit">Add My Quote</button>
       <button href="/quotes" >Go to Quotes</button>
    </form>


</body>

</html>