<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quotes</title>
</head>
<body>
    <h1>Here are the quotes</h1>
    @foreach (var quote in ViewBag.quotes)
    {
         <h3>@ViewBag.Name</h3>
         <h3>@ViewBag.UserQuote</h3>
    }
</body>
</html>